# PHP & Laravel
alias h='cd ~'
alias github='cd ~/github'
alias a='php artisan'
alias tinker='php artisan tinker'
alias c='composer'
alias cda='composer dump-autoload'
alias ide-helper='php artisan ide-helper:generate && php artisan ide-helper:meta && php artisan optimize'

alias ll="ls -laFG"
alias nah='git reset --hard;git clean -df;'
alias wip='git add . && git commit -m "WIP"'
alias myip="curl -s checkip.dyndns.org | sed -e 's/.*Current IP Address: //' -e 's/<.*$//'"

alias restart_camera="sudo killall VDCAssistant && sudo killall AppleCameraAssistant"

cdpath=(~/code)
